<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <h1 align="center">Eslogan </h1>
    <div class="d-flex flex-row align-items-lg-start">
      <label cButton routerLink="http://localhost:4200/#/register">Sign IN</label>
    </div>

    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card>
          <div class="video-container">
            <iframe height="360" width="640" src="https://www.youtube.com/embed/4pS0G80aTK4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope"
                    allowfullscreen></iframe>
          </div>
          <c-card-body>
            <h5 cCardTitle>Vision</h5>
            <p cCardText>
              Some quick example text to build on the card title and make up the bulk of the
              card&#39;s content.
            </p>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>

    <c-row >
      <c-col md="24">
        <c-card-group>
          <c-card class="justify-content-lg-start">
            <h5 cCardTitle>Mision</h5>
            <p cCardText>
              Some quick example text to build on the card title and make up the bulk of the
              card&#39;s content.
            </p>
          </c-card>
          <c-card class="justify-content-lg-center">
            <h5 cCardTitle>Acerca De</h5>
            <p cCardText>
              Some quick example text to build on the card title and make up the bulk of the
              card&#39;s content.
            </p>
          </c-card>
          <c-card class="justify-content-lg-end">
            <h5 cCardTitle>Contactanos</h5>
            <p cCardText>
              Some quick example text to build on the card title and make up the bulk of the
              card&#39;s content.
            </p>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>

