<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="select" (ngSubmit)="registrar(name.value,lastaname.value,pass.value,pass2.value,
                                                                  email.value,phone.value,photo.value,genero.value,
                                                                  birthdate.value,address.value,type.value)">
              <h1>Create User</h1>
              <label>Name</label>
              <c-input-group class="mb-3">
                <input autoComplete="name" #name cFormControl placeholder="name" />
              </c-input-group>
              <label>Lastname</label>
              <c-input-group class="mb-3">
                <input autoComplete="last_name" #lastaname cFormControl placeholder="last name" />
              </c-input-group>
              <label>Password</label>
              <c-input-group class="mb-3">
                <input autoComplete="new-password" #pass cFormControl placeholder="Password" type="password" />
              </c-input-group>
              <label>Confirm Password</label>
              <c-input-group class="mb-4">
                <input autoComplete="new-password" #pass2 cFormControl placeholder="Repeat password" type="password" />
              </c-input-group>
              <label>E-mail</label>
              <c-input-group class="mb-3">
                <input autoComplete="email" #email type="email" cFormControl placeholder="email" />
              </c-input-group>
              <label>Phone</label>
              <c-input-group class="mb-3">
                <input autoComplete="phone" #phone type="number" cFormControl placeholder="phone" />
              </c-input-group>
              <label>Type</label>
              <c-input-group class="mb-3">
                <select cSelect formControlName="selecttype">
                  <option #type ngValue="2">Empleado</option>
                  <option #type ngValue="1">Administrador</option>
                </select>
              </c-input-group>
              <label>Genre</label>
              <c-input-group class="mb-3">
                <select cSelect formControlName="selectgender">
                  <option #genero  ngValue="M">Masculino</option>
                  <option #genero ngValue="F">Femenino</option>
                </select>
              </c-input-group>
              <label>Country</label>
              <c-input-group class="mb-3">
                <select cSelect formControlName="selectcountry">
                  <option *ngFor="let country of listCountrys; index as i"
                          ngValue="{{country.id_Country}}" value="{{country.id_Country}}">
                    {{country.country}}
                  </option>
                </select>
              </c-input-group>
              <c-input-group class="mb-3">
                <input autoComplete="birth_date" #birthdate type="date" cFormControl placeholder="birth date" />
              </c-input-group>
              <label>Photo</label>
              <c-input-group class="mb-3">
                <span class="input-group-text">
                <div class="avatar">
                  <img class="avatar-img" [src]="photo.value" alt="image"/>
                </div>
                </span>
                <input cFormControl disabled type="text" #photo [value]="urlImage | async"  cFormControl placeholder="photo" />
              </c-input-group>
              <c-input-group class="mb-3">
                <input type="file"  placeholder="foto" accept=".png, .jpg" (change)="onUpload($event)">
              </c-input-group>
              <label>Address</label>
              <c-input-group class="mb-3">
                <input autoComplete="address" #address cFormControl placeholder="address" />
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit" >
                  Create Account</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>

