<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <div>
          <strong>Usuario</strong> <small>Editar</small>
          <img [src]="user.photo" width="25%" height="25%" class="rounded mx-auto d-block" />
        </div>
      </c-card-header>
      <c-card-body>

        <form cForm>
          <c-input-group class="mb-3">
              <input autoComplete="name" #name cFormControl placeholder="name" [value]="user.name" />
              <span class="input-group-text">Name</span>
          </c-input-group>
          <c-input-group class="mb-3">
            <input autoComplete="last_name" #lastaname cFormControl placeholder="last name" [value]="user.lastname" />
            <span class="input-group-text">Last Name</span>
          </c-input-group>
          <c-input-group class="mb-3">
            <input autoComplete="new-password" #pass cFormControl placeholder="Password" type="password" [value]="user.password" />
            <span class="input-group-text">Password</span>
          </c-input-group>
          <c-input-group class="mb-4">
            <input autoComplete="new-password" #pass2 cFormControl placeholder="Repeat password" type="password"  [value]="user.password" />
            <span class="input-group-text">Repeat Password</span>
          </c-input-group>
          <c-input-group class="mb-3">
            <input autoComplete="phone" #phone type="number" cFormControl placeholder="phone" [value]="user.telephone" />
            <span class="input-group-text">Phone</span>
          </c-input-group>
          <c-input-group class="mb-3">
            <select #genero [value]="user.genre" cSelect>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </c-input-group>
          <c-input-group class="mb-3">
            <input autoComplete="birth_date" #birthdate type="date" [value]="formatDate(user.birthday)" cFormControl placeholder="birth date" />
          </c-input-group>
          <c-input-group class="mb-3">
            <span class="input-group-text">
            <div class="avatar">
                <img class="avatar-img" [src]="photo.value" alt="image"/>
            </div>
            </span>
            <input disabled type="text" #photo [value]="urlImage | async"  cFormControl placeholder="photo" />
          </c-input-group>
          <c-input-group class="mb-3">
            <input type="file"  placeholder="foto" accept=".png, .jpg" (change)="onUpload($event)">
          </c-input-group>

          <div class="d-grid">
            <button cButton color="success"
                    (click)="editUsuer(
                    name.value,
                    lastaname.value,
                    pass.value,
                    pass2.value,
                    phone.value,
                    genero.value,
                    birthdate.value,
                    photo.value)" >Update</button>
          </div>

          <c-input-group class="mb-3">
            <button cButton color="danger" (click)="toggleLiveDemoNoBorar()">Darme de baja</button>
          </c-input-group>

        </form>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Mensaje</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>{{mensaje}}</c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      .Close
    </button>
  </c-modal-footer>
</c-modal>

<c-modal id="liveDemoModal2" [visible]="visible2" (visibleChange)="handleLiveDemoChange2($event)">
  <c-modal-header>
    <h5 cModalTitle>¿Seguro quieres elimanarte?</h5>
    <button (click)="toggleLiveDemoNoBorar()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Seguro quieres elimanarte</c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemoBorrar()" cButton color="secondary">
      Si
    </button>
  </c-modal-footer>
</c-modal>
