<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="select" (ngSubmit)="registrar(name.value,lastname.value,birthday.value,
                                                                      status.value,photo.value)">
              <h1>Crear Persona</h1>
<!--              <p class="text-medium-emphasis">Create your account</p>-->
              <label>Name</label>
              <c-input-group class="mb-3">
                <input autoComplete="name" #name cFormControl placeholder="name" />
              </c-input-group>
              <label>Lastname</label>
              <c-input-group class="mb-3">
                <input autoComplete="lastname" #lastname cFormControl placeholder="lastname" />
              </c-input-group>
              <label>Status</label>
              <c-input-group class="mb-3">
                <select cSelect formControlName="selectstatus">
                  <option #status selected="selected" value="Jugador">Jugador</option>
                  <option #status value="Director Tecnico">Director Tecnico</option>
                </select>
              </c-input-group>
              <label>Stand</label>
              <c-input-group class="mb-4">
                <select cSelect formControlName="selectstand" >
                  <option *ngFor="let stand of listStands"
                          value="{{stand.id_stand}}" ngValue="{{stand.id_stand}}">
                    {{stand.stand}}
                  </option>
                </select>
              </c-input-group>
              <label>Team</label>
              <c-input-group class="mb-3">
                <select cSelect formControlName="selectteam">
                  <option *ngFor="let team of listTeams; index as i" ngValue="{{team.id_team}}"
                          value="{{team.id_team}}" >
                    {{team.name}}
                  </option>
                </select>
              </c-input-group>
              <label>Country</label>
              <c-input-group class="mb-3">
                <select cSelect formControlName="selectcountry">
                  <option *ngFor="let country of listCountrys; index as i"
                          ngValue="{{country.id_Country}}" value="{{country.id_Country}}">
                    {{country.country}}
                  </option>
                </select>
              </c-input-group>
              <label>Birth Date</label>
              <c-input-group class="mb-3">
                <input autoComplete="birthday" #birthday type="date" cFormControl placeholder="birth date" />
              </c-input-group>
              <label>Photo</label>
              <c-input-group class="mb-3">
                <input type="file"  placeholder="foto" accept=".png, .jpg" (change)="onUpload($event)">
              </c-input-group>
              <c-input-group class="mb-3">
                <input cFormControl disabled type="text" #photo [value]="urlImage | async"  cFormControl placeholder="photo" />
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit">Create Person
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
