<c-card style="width: 50rem;">
  <iframe height="400" src="https://www.youtube.com/embed/4pS0G80aTK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <c-card-body>
    <h5 cCardTitle>Card title</h5>
    <p cCardText>
      Some quick example text to build on the card title and make up the bulk of the
      card&#39;s content.
    </p>
    <a cButton cCol="7" routerLink="./">Más informacion</a>
  </c-card-body>
</c-card>
